[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-classpath"]
	path = vim/bundle/vim-classpath
	url = git://github.com/tpope/vim-classpath.git
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule "vim/bundle/rainbow_parentheses"]
	path = vim/bundle/rainbow_parentheses
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-clojure-static"]
	path = vim/bundle/vim-clojure-static
	url = git://github.com/guns/vim-clojure-static.git
