vim/bundle/command-t/ruby/command-t/Makefile
vim/bundle/command-t/ruby/command-t/*.o
vim/bundle/command-t/ruby/command-t/*.so
vim/bundle/command-t/ruby/command-t/*.log
vim/tmp/*.swp
vim/tmp/*.swo
vim/tmp/yankring*
vim/.netrwhist
vim/.vim_mru_files
vim/.viminfo
backup-*
emacs.d/auto-save-list
xmonad/history
xmonad/xmonad-*
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
