[include]
	path = ~/.config/art-core/.gitconfig-default
[includeIf "gitdir:~/code/winks/"]
	path = ~/.config/art-core/.gitconfig-personal
[includeIf "gitdir:~/code/bitbucket/"]
	path = ~/.config/art-core/.gitconfig-personal
[includeIf "gitdir:~/code/dotfiles/.git"]
	path = ~/.config/art-core/.gitconfig-personal
[includeIf "gitdir:/opt/"]
	path = ~/.config/art-core/.gitconfig-default

[color]
	diff = auto
	ui = true

[merge]
	log = true
	ff = false

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff --color
	dfw = diff --color --color-words
	lg = log -p --color
	lgf = log --format=fuller
	since = !git log $(git merge-base --fork-point master)..HEAD
	up = pull --rebase --autostash
	what = log --format='%an %s'
	l = "!. ~/code/dotfiles/git/githelpers && pretty_git_log"

[push]
	default = current

[core]
	quotepath = false
	excludesfile = ~/.gitignore

[diff]
	compactionHeuristic = true
	noprefix = true

[commit]
	verbose = true
