[user]
    name = Florian Anderiasch
    email = fa@art-core.org

[color]
    diff = auto
    ui = true

[merge]
    log = true
    ff = false

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    since = !git log $(git merge-base --fork-point master)..HEAD
    up = pull --rebase --autostash

[push]
    default = current
[core]
    quotepath = false
[diff]
    compactionHeuristic = true
[commit]
    verbose = true
