[includeIf "gitdir:~/code/"]
    path = .config/.gitconfig-work
[includeIf "gitdir:~/code/winks"]
    path = .config/.gitconfig-personal
[includeIf "gitdir:~/code/bitbucket"]
    path = .config/.gitconfig-personal
[includeIf "gitdir:~/code/dotfiles"]
    path = .config/.gitconfig-personal

[color]
    diff = auto
    ui = true

[merge]
    log = true
    ff = false

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff --color
    dfw = diff --color --color-words
    lg = log -p --color
    since = !git log $(git merge-base --fork-point master)..HEAD
	up = pull --rebase --autostash
	what = log --format='%an %s'

[push]
    default = current
[core]
    quotepath = false
[diff]
    compactionHeuristic = true
[commit]
    verbose = true
